body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #7d5b2e;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

#inicio {
    background: url('img/fondo.jpg');
    background-size: cover;
    color: white;
    padding: 80px;
    text-align: center;
}

button {
    background: #7d5b2e;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
}

section {
    padding: 40px;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.card {
    display: inline-block;
    width: 250px;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    background: #f5f5f5;
}

/* 👇 ESTO ES LO IMPORTANTE */
.card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #7d5b2e;
    color: white;
    padding: 10px;


}

/* 📱 CELULARES */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .card {
        width: 90%;
    }
}

/* 💻 TABLET */
@media (max-width: 900px) {
    .card {
        width: 45%;
    }
}

/* 🖥️ PC */
@media (min-width: 901px) {
    .card {
        img {
    max-width: 100%;
              height: auto;
            }
    }
}

.contenedor 
{
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* permite que bajen a la siguiente línea */
}